 #fourth-section{
  background-color: #100028;
  display: flex;
  justify-content: space-around;
  font-family: "Play", sans-serif;
  align-items: center;
  padding: 60px 40px;
  /* border: 2px solid #00bfe7; */

 }
.cards{
  color: white;
  padding: 40px;
  border: 2px solid #00bfe7;
  /* border-radius: 20px; */
  cursor: pointer;
  /* padding: 20px 0; */
  /* border-radius: 5%; */
  transition: all 0.3s;
}
.cards:hover{
  border-radius: 50px;
  transform: scale(1.02);
}
.cards h2{
  font-size: 60px;
}
.cards img{
  padding: 20px;
}
.cards h2{
  padding-bottom: 10px;
}
.cards p{
  font-size: 20px;
}