#seventh-content{
  background: url('callto-bg.jpg.webp') no-repeat center/cover ;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-position-x: 50%;
  background-position-y: 0%;
  height: 500px;
  padding-top: 50px;
  
}
.ahmad{
  /* display: flex; */
  padding: 170px;
  color: white;
  /* padding-right: 30px; */
  margin-right: 200px;
  margin-top: -70px;
  transform: translateX(-50px)
}
.ahmad h1{
  font-size: 42px;
  font-weight: 700;
  display: block;
  width: 100%;
  /* background-color: red; */
}
.ahmad p{
  padding: 30px 0;
  color: #adadad;
  padding-bottom: 60px;
}
.ahmad button{
  color: white;
  background-color: #00bfe7;
  padding: 20px 30px;
  cursor: pointer;
  font-weight: bold;
}