#sixth-content{
  background-color: #0b0020;
  height: 100vh;
  color: white;
}
.blog{
  padding: 40px;
  text-align: center;
}
.blog h4{
  padding: 20px 0;
}
.card{
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding: 50px;
  height: 450px;
  gap: 30px;
  min-height: 450px;
  margin-bottom: 40px;
}
.new-cards{
  padding: 60px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #adadad;
  cursor: pointer;
  transition: all .3s;
}
.new-cards:hover{
  transform: scale(1.02);
  border-radius: 10px;
  background-image: url('blog-1.jpg');
}
.new-cards p{
  padding: 30px 0;
  color: #adadad;
  height: 100px;
}
.new-cards button{
  background-color: #0b0020;
  padding: 15px ;
  color: white;
  border: 2px solid #00bfe7;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
}