#third-section {
  padding: 50px 20px;
  background-color: #0b0020; 
  /* background-color: red; */
}


.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px; 
}


.gallery-item img {
  width: 100%;
  height: 250px; 
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s;
}
.gallery-item img:hover{
  transform: scale(1.02);
  border-radius: 20px;
}

 .right-image{
  height: auto;
 }